-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "logs" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "userId" UUID NOT NULL,
    "content" JSONB,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isRedacted" BOOLEAN NOT NULL DEFAULT false,
    "tagValues" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "startedAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endedAt" TIMESTAMPTZ(6),
    "duration" INTEGER,
    "telegramChallengeId" TEXT,
    "telegramChallengeType" TEXT,
    "isGapFill" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT NOT NULL DEFAULT 'COMPLETED',

    CONSTRAINT "logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_preferences" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "userId" UUID NOT NULL,
    "preferences" TEXT,
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL,
    "connectToken" TEXT,
    "telegramChatId" TEXT,
    "userName" TEXT,
    "customValues" TEXT[] DEFAULT ARRAY['Health', 'Learning', 'Connection', 'Deep Work']::TEXT[],
    "tags" JSONB DEFAULT '[]',
    "timezone" TEXT NOT NULL DEFAULT 'UTC',

    CONSTRAINT "user_preferences_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "logs_telegramChallengeId_key" ON "logs"("telegramChallengeId");

-- CreateIndex
CREATE UNIQUE INDEX "user_preferences_userId_key" ON "user_preferences"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "user_preferences_connectToken_key" ON "user_preferences"("connectToken");

-- CreateIndex
CREATE UNIQUE INDEX "user_preferences_telegramChatId_key" ON "user_preferences"("telegramChatId");

